body {
  margin: 0;
  background-color: #eeeff4;
  min-width: 60vh;
}

.content {
  max-width: 1000px;
  margin: auto;
  background-color: #40434e;
  padding-bottom: 2vh;
  min-height: 100vh;
}

h1 {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 5em;
  font-weight: 900;
  margin: 0;
}

h2 {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 3em;
  font-weight: 900;
  margin: 0;
}

h3 {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: 900;
  margin: 0;
}

.grey-text {
  color: #40434e;
}

.orange-text {
  color: #ff570a;
}

.lavender-text {
  color: #c6d4ff;
}

.green-text {
  color: #9faf90;
}

.pink-text {
  color: #fbdce2;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #9faf90;
  height: 6em;
  display: relative;
  padding-right: 2vh;
  padding-top: 1vh;
  padding-left: 2vh;
}

.top-container {
  position: relative;
  text-align: right;
  margin-top: 1vh;
  margin-right: 2vh;
  height: fit-content;
}

#alex {
  font-size: 7em;
}

.foto {
  position: relative;
  display: block;
  left: 0;
  height: 18.7vh;
  margin-top: 1.6vh;
  border-radius: 2px;
  border: #ff570a solid 2px;
}

.portfolio {
  position: relative;
  text-align: left;
  margin-top: 5vh;
  margin-left: 2vh;
  margin-bottom: 5vh;
  border: #c6d4ff solid 1px;
  border-radius: 2px;
  width: fit-content;
  padding: 1vh;
}

.topics-all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2vh;
  margin-right: 2vh;
  align-content: center;
}

.topic1 {
  background-color: #9faf90;
  color: #40434e;
  position: relative;
  height: fit-content;
  font-size: 24pt;
  padding-top: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 1vh;
}
.topic2 {
  background-color: #9faf90;
  color: #40434e;
  position: relative;
  height: fit-content;
  font-size: 24pt;
  padding-top: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 1vh;
}
.topic3 {
  background-color: #9faf90;
  color: #40434e;
  position: relative;
  height: fit-content;
  font-size: 24pt;
  padding-top: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 1vh;
}
.topic4 {
  background-color: #9faf90;
  color: #40434e;
  position: relative;
  height: fit-content;
  font-size: 24pt;
  padding-top: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 1vh;
}
.topic5 {
  background-color: #9faf90;
  color: #40434e;
  position: relative;
  height: fit-content;
  font-size: 24pt;
  padding-top: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 1vh;
}

.topic:hover {
  width: auto;
  height: fit-content;
  border: #ff570a solid 1px;
}

.output-text {
  position: relative;
  margin-top: 1vh;
  margin-left: 2vh;
  margin-right: 2vh;
  background-color: #9faf90;
  display: block;
}

.topic-work {
  position: absolute;
  font-size: 20pt;
  background-color: #9faf90;
  display: none;
}

.topic-education {
  position: absolute;
  font-size: 20pt;
  background-color: #9faf90;
  display: none;
}

.topic-millitary {
  position: absolute;
  font-size: 20pt;
  background-color: #9faf90;
  display: none;
}

.topic-hobbies {
  position: absolute;
  font-size: 20pt;
  background-color: #9faf90;
  display: none;
}
.topic-contact {
  position: absolute;
  right: 0;
  font-size: 20pt;
  background-color: #9faf90;
  opacity: 0;
}

.topic1:hover {
  border: #ff570a solid 2px;
}
.topic2:hover {
  border: #ff570a solid 2px;
}
.topic3:hover {
  border: #ff570a solid 2px;
}
.topic4:hover {
  border: #ff570a solid 2px;
}
.topic5:hover {
  border: #ff570a solid 2px;
}

.topic-contact:hover {
  opacity: 1;
  border: #ff570a solid 2px;
}
